---
import BaseTab from "../BaseTab.astro";
import Emoji from "../Emoji.astro";
import MessageBox from "../MessageBox.svelte"
import Icon, { Icons } from "../Icon.astro";

---
<BaseTab id="contacts">
  <h1>contacts</h1>
  <Emoji symbol="📧"/> —— email me at <span class="blue">root[at]specifix.dev</span>
  <br>
  or you can add me on discord and DM:
  <ul class="contact-social-media-container">
    <li><div><Icon icon={Icons.Discord} /></div><a href="/discord" target="_blank">specifix#0001</a></li>
  </ul>
  <span class="blue underline">DON'T ASK TO ASK, JUST ASK!</span><br> It's helpful to differentiate you from bots, and scammers. Don't expect a response if you don't get straight to the point, 
  <span class="underline">You will be ignored.</span>
  <br><br>
  My other socials (i rarely check):
  <ul class="contact-social-media-container">
    <li><div><Icon icon={Icons.GitHub} /></div><a href="https://github.com/Specifix5" target="_blank">Specifix5</a></li>
    <li><div><Icon icon={Icons.Twitter} /></div><a href="https://x.com/ThatIsSpecifix" target="_blank">ThatIsSpecifix</a></li>
    <li><div><Icon icon={Icons.YouTube} /></div><a href="https://www.youtube.com/@mikumiku_rin" target="_blank">mikumiku_rin</a></li>
    <li><div><Icon icon={Icons.Bluesky} /></div><a href="https://bsky.app/profile/mayoi.specifix.dev" target="_blank">mayoi.specifix.dev</a></li>
    <li><div><Icon icon={Icons.NicoNico} /></div><a href="https://www.nicovideo.jp/user/133071554" target="_blank">specifixスペック</a></li>
  </ul>

  <h1>message box</h1>
  <MessageBox client:load />
</BaseTab>

<style lang="scss">
  @use '../../styles/tabs.scss' as *;
  @use '../../styles/vars.scss' as *;


  ul.contact-social-media-container {
    li {
      display: flex;
      &::before {
        margin-right: 0.5em;
      }
    }
  }

  a {
    font-style: normal;
    opacity: 100%;
  }

  a.mini {
    font-size: 0.8em;
    font-style: italic;
  }
</style>
