---
import AsciiNekoMiku from "../AsciiNekoMiku.astro";
import BaseTab from "../BaseTab.astro";
import IpText from "../IpText.svelte";
import WebButton from "../WebButton.astro"

import { Icons } from "../Icon.astro";
---

<BaseTab active={true} id="home">
  <div id="home-container">
    <div class="home-text">
      hi <IpText client:load /><br>
      welcome to my site!<br>
      <hr>
      <span class="mini">{">"} things i use:</span>
      <div class="webbutton-container">
        <WebButton text="typescript" sy="typescript" icon={Icons.TypeScript}/>
        <WebButton text="rust!!" sy="rust" icon={Icons.Rust}/>
        <WebButton text="c-sharp" sy="csharp" icon={Icons.CSharp}/>
        <WebButton text="lua/luau" sy="luau" icon={Icons.Luau}/>
        <WebButton text="kotl/java" sy="kotlin"icon={Icons.Kotlin}/>
        <WebButton text="astro" sy="astro" icon={Icons.Astro}/>
        <WebButton text="sass/css" sy="sass" icon={Icons.Sass}/>
        <WebButton text="godot" sy="godot" icon={Icons.Godot}/>
      </div>
      <span class="mini">and many more...</span>
    </div>
  
    <AsciiNekoMiku />
  </div>
</BaseTab>

<style lang="scss">
  @use '../../styles/vars.scss' as *;
  
  div#home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.1em;

    @media screen and (max-width: 425px) {
      flex-direction: row;
    }

    @media screen and (max-width: 350px) {
      flex-direction: column;
      align-items: center;
      justify-items: center;
      justify-content: center;
      text-align: left;
    }
  }
</style>