---
const { title, description } = Astro.props
import "../styles/base.scss"
---
<!-- Primary Meta Tags -->
<title>specifix.dev</title>
<meta name="title" content={title}>
<meta name="description" content="I’m Specifix, a full-stack developer who codes for fun and enjoys rhythm and sandbox games. Just another person exploring the internet!">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#87D5FF">
<meta charset="UTF-8">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Canonical Link -->
<link rel="canonical" href="https://specifix.dev/">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://specifix.dev/">
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:image" content="/images/miku_seo.jpg">
<meta property="og:site_name" content="specifix.dev">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://specifix.dev/">
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
<meta name="twitter:image" content="/images/miku_seo.jpg">
<meta name="twitter:site" content="@ThatIsSpecifix">
